{% extends 'base.html' %}

{% block title %} Edit Profile Page {% endblock %}




{% block content %}

    {% if user.is_authenticated %}
        {% if profile.id == profile.id %}

        <div class="container">

        <h1>Edit Profile Page...</h1>
        <br> <br>
        <div class="form-group" ></div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            
            <button class="btn btn-secondary" type="submit">Update Profile Page</button>
        </form>
        </div>
     
        {% else %}
        <h1>You are not allowed here its other persons property respect others rights</h1>
        {% endif %} 
    {% else %}
        <h1>something went wrong</h1>
    {% endif %}


{% endblock %}