{% extends 'base.html' %}
{% block content %}    
    {% if category_posts %}
        <ul>
            {{ cats }}
            {% for post in category_posts %}

                <li>
                    <a href="{% url 'article_detail' post.pk %}"> {{ post.title }} </a>

                    -{{ post_category }}
                    - {{post.author  }}
                    -{{ post.post_date }}
                    {% if user.is_authenticated %}
                    
                        <small>
                            - <a href="{% url 'update_post' post.pk %}"> (Edit) </a>
                            - <a href="{% url 'delete_post' post.pk %}"> (Delete) </a>
                        </small> <br>
                        {{ post.body|slice:"150"|safe }}
                    {% endif %}


                </li>

            {% endfor %}
        </ul>
    {% else %}
        <h1>either there is error or someone made new category but did not <br> add a post to it.</h1>
    {% endif %}

{% endblock %}

