 {% extends 'base.html' %}

 {% block title %} update post {% endblock %}



{% block content %}
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <h1>edit the post</h1>
            <br> <br>
            <div class="form-group"></div>
            <form method="POST">
                {% csrf_token %}
                {{ form.media }}

                {{ form.as_p }}
                <button class="btn btn-secondary" type="submit">Submit</button>
            </form>
            </div>
        {% else %}
            <h1>you are not allowed here</h1>
        {% endif %}
    {% else %}
        <h1>you are not allowed here</h1>
    {% endif %}

{% endblock %}